.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.box.selected {
  border: 2px solid #f00;
}